<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Show this movie", movie_path(@movie, sort: sort_column, direction: sort_direction) %> |
  <%= link_to "Back to movies", movies_path(sort: session[:sort], direction: session[:direction]) %>
</div>